.tm-nav-item:hover{
    background-color:lightskyblue;
}
.tm-nav-item a:hover{
    color: #fff;
}

.tm-banner{
    background-image: linear-gradient(to right,lightskyblue, burlywood);
}
.tm-banner-inner{
    background-color: #fff;
}
.tm-banner-text {
    text-shadow: 7px 3px 2px #333;
    position: relative;
    animation: textbanner 4s infinite;
}
@keyframes textbanner {
    from {left: 200px;}
    to {left: 0px;}
}
section .tm-content-box:first-child {
    display: flex;
    align-items: center;
    }
.tm-section-description{
        text-indent: 1.5em;
    }
.tm-section-title {
    text-align: center;
}
.box-bg:hover {
    background-color: lightgrey;
    font-style: italic;
}

.heading h2{
    color: lightskyblue;
    text-align: center;
}

.heading ol{
    list-style-type: lower-alpha;
}
.text::after{
    display: inline-block;
    font-size: 60%;
    vertical-align: super;
    content: "New";
    color:red;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
  }
  .heading a:hover::before{
    content: ">";
    display: inline-block;
}

.blocks .tm-team-description-container .tm-section-description:last-child {
    word-spacing: 10px;
    letter-spacing: 5px;
    font-style: italic;
}
.blocks .tm-team-description-container .tm-section-title {
    text-align: left;
}
.blocks .tm-team-description-container {
    padding: 20px;
}
.box-work p::first-letter {
    font-weight:bold;
}
.box-work:nth-child( odd ) {
    background-color: lightskyblue;
    color: #fff;
}
.box-work{
    padding:10px;
    font-style: italic;
  }
.tm-section-description {
    line-height: 30px;
    text-indent: 25px;
}
#contact_name:focus, #contact_email:focus, #contact_subject:focus{
    background-color: lightskyblue;
}

#contact_name, #contact_email, #contact_subject {
    box-shadow: 0px 1px lightskyblue;
}
#contact_name, #contact_email, #contact_subject {
    border: 0;
}

#contact_message {
    border-color: lightskyblue;
    background-image: url('../img/email-icon.png');
    background-position: right 10px bottom 10px;
    background-repeat: no-repeat;
    background-size: 30px;
}
.submit-btn {
    border-color: lightskyblue;
    color: lightskyblue;
    background-color: #fff;
    height: 50px;
    width: 100px;
    margin-left: auto;
    float: right;
    }

.submit-btn:hover {
    background-color: lightskyblue;
    color: #fff;
}
.tm-sidebar, #home, section{
    box-shadow: 0px 0px 5px rgba(61, 55, 61, 0.7);
  }
  section::before{
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: lightskyblue transparent transparent transparent;
  }
  @media print{
    body,.tm-main-content {
        padding-top: 0;
      font-size: 12pt;
    }
    .tm-sidebar, .tm-team-img, #about, .boxes, .img-contact-us, #contact{
      display: none;
    }   
    section::before, .text::after, section.heading ol li:first-child::before{
      content:none;
    }
    
    @page{
      size: A4;
    }
      html, body {
        width: 210mm;
        height: 295mm;
      }
    .tm-main-content{
    max-width: 90%;  
    margin:0 auto;
    padding: 0;
    }
    .tm-team-description-container{
      display: block;
      padding:0;
      margin:auto;
      text-align: center;
      max-width: 100%;
    }
    h2{
      color: #666;
      font-weight: 300;
      color:lightskyblue;
      text-align: center;
    } 
    .blocks .padding-medium h2{
      text-align: center;
    }
    .tm-content-box ol{
      display:block;
      width: 70%;
      margin: auto;
      text-align: center;
    }
    .tm-content-box{
      text-align: center;
      margin: 0 auto;
      padding:0;
    }
    .blocks .tm-section-title{
        text-align:center !important;
        margin:0;
        padding:0;
        text-indent:none;
    }
    .tm-banner p{
        text-align: center !important;
    }
    ol li{
      list-style-type: none;
      color:blue;
    }
    li:nth-child( even ) {
      text-align: left;  
    }
    li:nth-child( odd ) {
      text-align: right;  
    }
    section.blocks .tm-section-description{
      text-indent: 0em;
      width: 100%;
    }
    #ideas {
      margin-bottom:20px;
    }
    }